<ion-header>
  <ion-toolbar>
    <ion-title>PRODUTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-text-center">
    <ion-item class="item">
      <ion-label class="texto">Nome :</ion-label>
      <ion-input class="texto" placeholder="Insira o nome do Produto"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-label class="texto">Descrição :</ion-label>
      <ion-input class="texto" placeholder="Insira a descrição do Produto"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-label class="texto">Validade :</ion-label>
      <ion-input class="texto" placeholder="Insira a validade do Produto"></ion-input>
    </ion-item>


    <ion-item class="item">
      <ion-label class="texto">Preço :</ion-label>
      <ion-input class="texto" placeholder="Insira o preço do Produto"></ion-input>
    </ion-item>


    <ion-card class="ion-text-center" routerLink="/tabs/tab1" class="button">
      <ion-button fill="clear" expand="full">
        VOLTAR
      </ion-button>
    </ion-card>
  </ion-list>

</ion-content>
