<ion-header>
  <ion-toolbar>
    <ion-button class="botãoV" routerLink="/tabs/tab1" size="small">
      <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
    </ion-button>
    <ion-title>PRODUTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nome :</ion-label>
      <ion-input  placeholder="Insira o nome do Produto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descrição :</ion-label>
      <ion-input placeholder="Insira a descrição do Produto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Validade :</ion-label>
      <ion-input  placeholder="Insira a validade do Produto"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label >Preço :</ion-label>
      <ion-input placeholder="Insira o preço do Produto"></ion-input>
    </ion-item>

<br>




  </ion-list>
</ion-content>
