<ion-header>
  <ion-toolbar>
    <ion-button class="botãoV" routerLink="/tabs/tab1" size="small">
      <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
    </ion-button>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--E/S-->

  <ion-list>
    <ion-item>
      <ion-label>E-mail :</ion-label>
      <ion-input placeholder="Insira seu e-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha :</ion-label>
      <ion-input placeholder="Coloque sua senha"></ion-input>
    </ion-item>



<!--botão-->



<ion-button class="botão2" expand="full" >Entrar</ion-button>
<ion-button class="botão2" expand="full" routerLink="/registro">Registrar</ion-button>
<br>
<ion-button class="botão3" expand="full" fill="outline">Esqueceu a senha?</ion-button>



  </ion-list>
</ion-content>
