<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item class="item">
    <ion-label class="texto">E-mail :</ion-label>
    <ion-input  class="texto" placeholder="Insira seu e-mail"></ion-input>
  </ion-item>

  <ion-item class="item">
    <ion-label class="texto">Senha :</ion-label>
    <ion-input  class="texto" placeholder="Coloque sua senha"></ion-input>
  </ion-item>

  <ion-button fill="outline">ENTRAR</ion-button>
  <ion-button fill="outline">REISTRAR</ion-button>
  <ion-button fill="clear">Esqueceu a senha?</ion-button>


</ion-list>

</ion-content>
