<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="item">
      <ion-label class="texto">Nome :</ion-label>
      <ion-input class="texto" placeholder="Insira seu Nome"></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label class="texto">CPF :</ion-label>
      <ion-input class="texto" placeholder="Insira seu CPF"></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label class="texto">Email :</ion-label>
      <ion-input class="texto" placeholder="Insira seu e-mail"></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label class="texto">Senha :</ion-label>
      <ion-input class="texto" placeholder="Insira sua senha"></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label class="texto">Confirmar Senha :</ion-label>
      <ion-input class="texto" placeholder="Confirme sua senha"></ion-input>
    </ion-item>
  </ion-list>
  <ion-card class="ion-text-center" class="button">
    <ion-button fill="clear" expand="full">
      <ion-icon slot="start" name="star"></ion-icon>
      SALVAR
    </ion-button>
  </ion-card>
  <ion-card class="ion-text-center" routerLink="/tabs/tab1" class="button">
    <ion-button fill="clear" expand="full">
      <ion-icon slot="start" name="star"></ion-icon>
      VOLTAR
    </ion-button>
  </ion-card>
</ion-content>
