.item{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.texto{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  color: black;
  font-size: 17px;
}
.button{
  --color: black;
}

.msg-erro{
  color: red;
  font-size: 10px ;
  clear: both;
  position: relative;
}
